a{
    text-decoration: none;
    color: white;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #121e41;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo h1 {
    margin: 10px;
    color: #0e72dd;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

header nav ul li a:hover {
    background-color: #0a0303;
    border-radius: 5px;
}

.menu-toggle {
    display: none;
}

#hero {
    position: relative;
    background: url('/imgs/hm.jpg') no-repeat center center/cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

#hero .hero-content {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
}

.hero-content h2 {
    font-family: 'Newsreader', serif;
    color: #979fa7;
}

#hero p {
    font-size: 1.5em;
    margin: 10px 0 0;
}

@media (max-width: 765px) {
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        flex-direction: column;
        /* display: none; */
    }

    header nav ul li {
        margin: 10px 0;
    }

    header nav ul li a {
        padding: 10px 20px;
    }

    header nav ul.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu-toggle i {
        font-size: 24px;
        color: #fff;
    }

    #hero h2 {
        font-size: 2em;
    }

    #hero p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    header nav ul li a {
        padding: 10px;
    }

    #hero {
        height: 300px;
    }

    #hero h2 {
        font-size: 1.5em;
    }

    #hero p {
        font-size: 0.9em;
    }
}

.content-box {
    border: #0a0303 solid 1px;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content, h2, p {
    text-align: center;
}

#contact {
    position: inherit;
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.contact-card {
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-info,
.contact-form {
    padding: 20px;
    flex: 1; /* Distribute space evenly */
}

.contact-info p {
    margin-bottom: 10px;
    color: #666;
}

.contact-form form {
    max-width: 300px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}


section {
    padding: 20px;
}

footer {
    background: #121e41;
    color: #fff;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 9999;
    padding: 20px 0;
}

.logo-name {
    color: #0e72dd;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons img {
    width: 30px;
    margin-right: 10px;
}

footer .content {
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px;
}

footer .content .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content .top .media-icons {
    display: flex;
}

.content .top .media-icons a {
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
    background-color: #353131;
}

.content .top .media-icons a:hover {
    background-color: #fff;
    color: #353131;
}`

.footer .content .bottom-details .bottom_text {
    display: flex;
    justify-content: space-between;
}

.footer .content .bottom-details .bottom_text span,
.footer .content .bottom-details .bottom_text a {
    font-size: 14px;
}

@media (max-width: 768px) {
    footer .content .top {
        flex-direction: column;
    }

    .content .top .media-icons {
        margin-top: 10px;
    }

    .footer .content .bottom-details {
        flex-direction: column;
    }

    .footer .content .bottom-details .bottom_text {
        margin-top: 20px;
    }
}
